#header{
	background: #fff;
	.main{
		margin-bottom: 30px;
		@include clearfloat();
	}
}
.logo{
	margin-top: 30px;
	float: left;
}
.top-data-list{
	width: 404px;
	display: none;
	@include border-cr($maincolor);
	position: absolute;
	left:-1px;
	top:34px;
	z-index: 5;
	li{
		height: 30px;
		background: #FFF;
		line-height:30px;
		cursor: pointer;
		a{
			color: #FFF;
		}
		&:hover{
			background: #eee;
		}
		span{
			color: $black;
			margin-left: 10px;
			font-size: 14px;
			font-weight: bold;
		}
		em{
			float: right;
			margin-right: 10px;
			color: $gray-2;
		}
	}
}
.seek{
	margin-top:37px;
	padding-left: 154px;
	float: left;
	.seek-content{
		position: relative;
		display: inline-block;
		@include border-cr($maincolor);
		input{
			display: block;
			float: left
		}
		input[type='txt']{
			padding: 10px;
			padding-right:0;
			width: 396px;
			border: none;
			height: 14px;
			line-height: 14px;
			outline: 0;
		}
		input[type='button']{
			background: $maincolor;
			height: 34px;
			border: none;
			width: 100px;
			padding: 0;
			@include font-style((size:20px,color:#fff,bold:bolder));
		}
	}
	.hotdot{
		margin-left: -8px;
		padding-top: 10px;
		a{
			font-size: 12px;
			padding: 0 10px;
			float: left;
			color: $gray-2;
		}
		@for $var from 2 through 8 {
			a:nth-of-type(#{$var}){
				@include border-cr-left(#e5e5e5);
			}
		}
	}
}
.head-right{
	float: right;
	margin-top: 30px;
	ul{
		float: left;
		position: relative;
		width: 150px;
		height: 70px;
		li{
			position: absolute;
			top: 0;
			left: 0;
			width: 200px;
			background: #fff;
		}
		img{
			width: 50px;
			height: 50px;
			float: left;
			margin-right:5px; 
		}
		p{
			float: left;
			margin-top: 10px;
			b,span{
				display:block;
				height: 20px;
				width: 100px;
				@include font-style((size:12px,color:$gray-1,bold:normal));
			}
			span{
				@include font-style((size:12px,color:$gray-2,bold:normal));
			}
		}
	}
	.jt{
		position: relative;
		float: left;
		@include clearfloat();
		background: url(http://pic0.iqiyipic.com/common/20150714/arrow2.gif),url(../img/arrow2.gif);
		width: 39px;
		margin: 31px 0 0 10px;
		span{
			float: left;
			height: 19px;
			width: 19px;
			cursor: pointer;
		}
	}
}

#nav{
	background: $maincolor;
	ul{
		@include clearfloat();
	}
	li{
		padding: 0 25px;
		float: left;
		line-height: 40px;
		@include font-style((size:16px,color:#fff,bold:normal));
		height: 40px;
		box-sizing: border-box;
		@include border-cr-bottom(transparent,3px);
	}
	li.active{
		@include border-cr-bottom(#cc0e2b,3px);
		
	}
	
	
}


