#top {
  height: 31px;
  width: 100%;
  border-bottom: 1px #e7e7e7 solid;
  background: #f7f7f7; }

.main {
  width: 1200px;
  margin: 0 auto; }
.main .top-left {
  float: left; }
.main .login-head {
  padding: 0 9px;
  height: 32px;
  float: left; }
.main .login-head span {
  display: inline-block;
  height: 3px;
  width: 5px;
  background-image: url(../img/topMenu_redicon.png);
  background-position: -80px 0;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 14px; }
.main .login-head, .main .login li {
  margin-right: 20px; }
.main .login {
  width: 300px; }
.main .login li {
  float: left;
  line-height: 32px; }
.main .login li:nth-of-type(1) {
  color: #999; }
.main .login a {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  text-decoration: none; }
.main .login a:hover {
  color: #ee394b; }
.main .top-right {
  float: right; }
.main .top-right li {
  float: left;
  margin-left: 20px;
  margin-top: 9px; }
.main .top-right li a {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  text-decoration: none;
  float: left; }
.main .top-right li a:hover {
  color: #ee394b; }
.main .top-right li em {
  font-size: 12px;
  color: #f66a11;
  font-weight: bold; }
.main .top-right li:nth-of-type(5) {
  position: relative; }
.main .top-right li:nth-of-type(5) a {
  position: relative;
  z-index: 10; }
.main .top-right li:nth-of-type(5) i {
  position: relative;
  z-index: 10; }
.main .top-right li:nth-of-type(5) .backbox {
  display: none;
  background: #fff;
  z-index: 7;
  position: absolute;
  height: 31px;
  width: 97px;
  top: -8px;
  left: -8px;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7; }
.main .top-right .erweima {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 10px;
  background: #fff;
  border: 1px solid #e7e7e7;
  top: 22px;
  left: -7px;
  width: 180px; }
.main .top-right .erweima img {
  width: 80px;
  height: 80px;
  float: left; }
.main .top-right .erweima p {
  float: left;
  width: 80px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 10px; }
.main .top-right .erweima p a {
  color: #333; }
.main .top-right .line {
  margin-top: 10px;
  margin-left: 20px;
  border-left: 1px #e5e5e5 solid;
  height: 8px; }
.main .top-right i {
  margin-right: 5px; }
.main .top-right li:nth-of-type(1) i {
  background: url(../img/topMenuCar_redicon.png);
  display: inline-block;
  height: 12px;
  width: 12px; }
.main .top-right .topmenu_1 {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url(../img/topMenu_redicon.png); }
.main .top-right .topmenu_2 {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url(../img/topMenu_redicon.png); }
.main .top-right .topmenu_3 {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url(../img/topMenu_redicon.png); }
.main .top-right .topmenu_4 {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url(../img/topMenu_redicon.png); }
.main .top-right .topmenu_1 {
  background-position: 0 0px; }
.main .top-right .topmenu_2 {
  background-position: -110px 0px; }
.main .top-right .topmenu_3 {
  background-position: -40px 0px; }
.main .top-right .topmenu_4 {
  background-position: -60px 0px; }
.main .top-right .topmenu_5 {
  background: url(../img/topMenu_redicon.png);
  background-position: -80px 0px;
  display: inline-block;
  height: 12px;
  width: 10px;
  margin-top: 5px;
  margin-left: 5px; }

.img-top {
  background: url(https://pic0.iqiyipic.com/common/20190211/1922081dbef5496880f8b0f8073cad3c.jpg) no-repeat center;
  height: 400px;
  position: relative; }
.img-top span {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #4A708B;
  color: #fff;
  width: 44px;
  height: 15px;
  display: block;
  line-height: 15px;
  cursor: pointer; }
.img-top span::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  background: url(http://www.iqiyipic.com/common/fix/PCIndex/images/iqiyiMallPcIndexExpendTrans.png) no-repeat;
  background-position: 0 -15px; }

#header {
  background: #fff; }
#header .main {
  margin-bottom: 30px; }
#header .main::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }

.logo {
  margin-top: 30px;
  float: left; }

.seek {
  margin-top: 37px;
  padding-left: 154px;
  float: left; }
.seek .seek-content {
  display: inline-block;
  overflow: hidden;
  border: 1px #ee394b solid; }
.seek .seek-content input {
  display: block;
  float: left; }
.seek .seek-content input[type='txt'] {
  padding: 10px;
  padding-right: 0;
  width: 396px;
  border: none;
  height: 14px;
  line-height: 14px;
  outline: 0; }
.seek .seek-content input[type='button'] {
  background: #ee394b;
  height: 34px;
  border: none;
  width: 100px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  font-weight: bolder; }
.seek .hotdot {
  margin-left: -8px;
  padding-top: 10px; }
.seek .hotdot a {
  font-size: 12px;
  padding: 0 10px;
  float: left;
  color: #777; }
.seek .hotdot a:nth-of-type(2) {
  border-left: 1px #e5e5e5 solid; }
.seek .hotdot a:nth-of-type(3) {
  border-left: 1px #e5e5e5 solid; }
.seek .hotdot a:nth-of-type(4) {
  border-left: 1px #e5e5e5 solid; }
.seek .hotdot a:nth-of-type(5) {
  border-left: 1px #e5e5e5 solid; }
.seek .hotdot a:nth-of-type(6) {
  border-left: 1px #e5e5e5 solid; }
.seek .hotdot a:nth-of-type(7) {
  border-left: 1px #e5e5e5 solid; }
.seek .hotdot a:nth-of-type(8) {
  border-left: 1px #e5e5e5 solid; }

.head-right {
  float: right;
  margin-top: 30px; }
.head-right ul {
  float: left; }
.head-right ul img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px; }
.head-right ul p {
  float: left;
  margin-top: 10px; }
.head-right ul p b, .head-right ul p span {
  display: block;
  height: 20px;
  width: 100px;
  font-size: 12px;
  color: #999;
  font-weight: normal; }
.head-right ul p span {
  font-size: 12px;
  color: #777;
  font-weight: normal; }
.head-right .jt {
  float: left;
  background: url(http://pic0.iqiyipic.com/common/20150714/arrow2.gif);
  width: 39px;
  margin: 31px 0 0 10px; }
.head-right .jt::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
.head-right .jt span {
  float: left;
  height: 19px;
  width: 19px;
  cursor: pointer; }

#nav {
  background: #ee394b; }
#nav ul::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
#nav li {
  padding: 0 25px;
  float: left;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 3px transparent solid; }
#nav li.active {
  border-bottom: 3px #cc0e2b solid; }

#slideshow {
  position: relative; }
#slideshow ul {
  position: relative;
  height: 400px; }
#slideshow ul li {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }
#slideshow ul li a {
  height: 100%;
  display: block;
  background: url(https://pic2.iqiyipic.com/common/20190220/f480753e006e4199bff4cb53d4affe41.jpg) no-repeat center top; }
#slideshow ul li:nth-of-type(2) a {
  background-image: url(https://pic0.iqiyipic.com/common/20190218/9ba37ede02c7402cbb33fcd92cf72774.jpg); }
#slideshow ul li:nth-of-type(3) a {
  background-image: url(https://pic1.iqiyipic.com/common/20190222/4171a86bcee642699a10154c748fc736.jpg); }
#slideshow ul li:nth-of-type(4) a {
  background-image: url(https://pic1.iqiyipic.com/common/20190221/218623ebb9144f91ad3b6f7c229f7e2c.jpg); }
#slideshow ul li:nth-of-type(5) a {
  background-image: url(https://pic0.iqiyipic.com/common/20190218/209b62c246504980886d8746c5af7308.jpg); }
#slideshow ul li:nth-of-type(6) a {
  background-image: url(https://pic3.iqiyipic.com/common/20190225/1644b5522eca4dcebfd43aff9cc8c13f.jpg); }
#slideshow ol {
  position: absolute;
  left: 50%;
  margi-left: -60px;
  bottom: 22px;
  z-index: 20; }
#slideshow ol li {
  float: left;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #000;
  opacity: 0.4;
  margin: 0 6px; }
#slideshow .left, #slideshow .right {
  height: 66px;
  width: 66px;
  display: block;
  z-index: 20;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  cursor: pointer;
  background-position: 0 0;
  display: none; }
#slideshow .left {
  background: url(//www.iqiyipic.com/common/fix/PCIndex/images/new_focus_prev.png);
  margin-left: -600px; }
#slideshow .right {
  background: url(http://www.iqiyipic.com/common/fix/PCIndex/images/new_focus_next.png);
  left: 50%;
  margin-left: 600px; }

#advertising_1, #advertising_2 {
  margin-top: 40px; }

.title {
  margin: 15px 0; }
.title .title-left {
  display: inline-block; }
.title .title-left i {
  display: inline-block;
  height: 36px;
  width: 36px;
  float: left; }
.title .title-left .tit-cn {
  font-size: 28px;
  color: #333;
  font-weight: normal;
  margin: 0 10px;
  line-height: 36px; }
.title .title-left .tit-line {
  display: inline-block;
  height: 10px;
  width: 2px;
  border-right: 1px #c2c2c2 solid; }
.title .title-left .tit-en {
  font-size: 16px;
  color: #c2c2c2;
  font-weight: normal;
  padding: 0 10px; }
.title .title-right {
  float: right; }
.title .title-right a {
  font-size: 14px;
  color: #666;
  font-weight: normal; }
.title .title-right a:hover {
  color: #ee394b; }
.title .title-right em {
  display: inline-block;
  height: 12px;
  width: 6px;
  background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/iqiyiMallPcRedMore.png);
  margin-left: 3px; }

#section_1 {
  padding-top: 25px; }
#section_1 .title .title-left i {
  background: url(https://pic5.iqiyipic.com/common/20160907/ae2dd09618d545a595cc8c97be29a45d.png); }
#section_1 .commodity ul {
  border-right: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  width: 1201px; }
#section_1 .commodity ul::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
#section_1 .commodity ul li {
  width: 239px;
  border-left: 1px #e5e5e5 solid;
  border-top: 1px #e5e5e5 solid;
  float: left; }
#section_1 .commodity ul .particulars {
  margin: 15px 15px 0; }
#section_1 .commodity ul a {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  line-height: 22px; }
#section_1 .commodity ul .img-a {
  text-align: center; }
#section_1 .commodity ul img {
  width: 140px;
  height: 140px;
  margin-top: 15px; }
#section_1 .commodity ul .sparticulars {
  background: url(http://www.iqiyipic.com/common/fix/PCIndex/images/newPCindexproductStatus.png);
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  display: inline-block;
  height: 18px; }
#section_1 .commodity ul em {
  margin-left: 10px;
  display: inline-block;
  height: 18px;
  border-radius: 3px;
  background: #ee394b;
  padding-right: 3px;
  line-height: 18px; }
#section_1 .commodity ul p {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  display: inline-block; }
#section_1 .commodity ul p:nth-of-type(2) {
  height: 44px;
  line-height: 44px;
  display: block; }
#section_1 .commodity ul span:nth-of-type(1) {
  font-size: 20px;
  color: #ee394b;
  font-weight: normal; }
#section_1 .commodity ul span:nth-of-type(2) {
  float: right; }

#section_2 {
  padding-top: 25px; }
#section_2 .title .title-left i {
  background: url(https://pic3.iqiyipic.com/common/20160907/bb2d4ba3d4fa4b369c76b813af23cd7f.png); }
#section_2 .main-cl {
  float: left; }
#section_2 .main-cl ul {
  margin-right: 20px;
  width: 840px; }
#section_2 .main-cl ul li {
  width: 100%;
  border: 1px #e5e5e5 solid;
  margin-bottom: 10px; }
#section_2 .main-cl ul li::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
#section_2 .main-cl ul .xxtitle {
  width: 258px;
  margin-top: 117px;
  float: left; }
#section_2 .main-cl ul .xximg {
  float: right; }
#section_2 .main-cl ul .xximg img {
  height: 290px;
  width: 580px; }
#section_2 .main-cl ul p {
  font-size: 24px;
  color: #333;
  font-weight: normal;
  line-height: 24px;
  text-align: center; }
#section_2 .main-cl ul span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #777;
  font-weight: normal;
  line-height: 18px;
  text-align: center; }
#section_2 .main-cr {
  float: left; }
#section_2 .hs-title {
  height: 50px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/nav_tint_redbg.png); }
#section_2 .hs-title span {
  background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/good_hot_redranking.png) no-repeat;
  margin: 15px 12px 0 16px;
  display: block;
  height: 20px;
  width: 20px;
  float: left; }
#section_2 .hs-title h2 {
  width: 290px;
  font-size: 21px;
  color: #333;
  font-weight: normal;
  float: left;
  line-height: 50px; }
#section_2 .hotsell {
  margin-bottom: 20px;
  width: 340px; }
#section_2 .hotsell .hs-content {
  border: 1px #e5e5e5 solid;
  border-top: 0; }
#section_2 .hotsell .hs-content::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
#section_2 .hotsell .hs-content li::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
#section_2 .hotsell .hs-content .shopimg, #section_2 .hotsell .hs-content .shopx {
  float: left; }
#section_2 .hotsell .hs-content img {
  height: 90px;
  width: 90px;
  margin: 10px; }
#section_2 .hotsell .hs-content .shopx {
  width: 200px;
  height: 110px;
  position: relative;
  border-bottom: 1px #e5e5e5 solid;
  margin-left: 20px; }
#section_2 .hotsell .hs-content li:nth-of-type(1) .mc {
  background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_first.png) no-repeat; }
#section_2 .hotsell .hs-content li:nth-of-type(2) .mc {
  background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_second.png) no-repeat; }
#section_2 .hotsell .hs-content li:nth-of-type(3) .mc {
  background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_third.png) no-repeat; }
#section_2 .hotsell .hs-content li:nth-of-type(4) .mc {
  background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_fourth.png) no-repeat; }
#section_2 .hotsell .hs-content li:nth-of-type(5) .mc {
  background: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_fifth.png) no-repeat; }
#section_2 .hotsell .hs-content li:nth-of-type(5) .shopx {
  border: 0; }
#section_2 .hotsell .hs-content .mc {
  width: 57px;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 14px; }
#section_2 .hotsell .hs-content .sname {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #777;
  font-weight: normal;
  line-height: 14px; }
#section_2 .hotsell .hs-content .sprice {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  line-height: 18px; }
#section_2 .hotsell .hs-content .sprice span {
  font-size: 18px;
  color: #ee394b;
  font-weight: normal; }
#section_2 .hotsell .hs-content .sprice i {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  float: right; }
#section_2 .hotsell .hs-content .sprice em {
  color: #ee394b; }
#section_2 .hottj ul {
  border: 1px #e5e5e5 solid;
  border-top: 0;
  box-sizing: border-box; }
#section_2 .hottj ul::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
#section_2 .hottj .hs-title span {
  background-image: url(http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/good_hot_redrecommend.png); }
#section_2 .hottj .tjimg img {
  width: 320px;
  height: 160px;
  padding: 10px 9px; }
#section_2 .hottj .tjxx p {
  margin: 0 10px 8px;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 14px; }
#section_2 .hottj .tjxx span {
  margin: 0 10px;
  font-size: 12px;
  color: #999;
  font-weight: normal;
  line-height: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
#section_2::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }

#advertising_2 {
  margin-bottom: 30px; }

#section_3 .title .title-left i {
  background: url(https://pic2.iqiyipic.com/common/20160907/aeb02196c5134738a34bd527c3bd5395.png); }
#section_3 .brand-content {
  position: relative; }
#section_3 .brand-content span {
  display: inline-block;
  height: 60px;
  width: 40px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  background-repeat: no-repeat;
  z-index: 5; }
#section_3 .brand-content .ljt {
  background: url(http://www.iqiyipic.com/common/fix/PCIndex/images/newPCindexprev.png);
  left: -1px; }
#section_3 .brand-content .rjt {
  background: url(http://www.iqiyipic.com/common/fix/PCIndex/images/newPcINdexNext.png);
  right: 0; }
#section_3 .brand-content ul::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
#section_3 .brand-content ul li::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
#section_3 .brand-content .imgitems {
  float: left;
  margin: -1px 0 0 -1px; }
#section_3 .brand-content .imgitems a {
  height: 119px;
  width: 119px;
  border: 1px #e5e5e5 solid;
  display: block;
  overflow: hidden; }

#section_4 {
  background: #fafafa;
  border-top: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid; }

.foot-icon {
  height: 138px;
  border-bottom: 1px #e5e5e5 solid; }
.foot-icon li {
  width: 20%;
  float: left; }
.foot-icon li img {
  width: 70px;
  height: 70px;
  margin: 34px 0 34px 43px;
  float: left; }
.foot-icon li .wz {
  margin: 48px 0 0 18px;
  float: left;
  font-size: 12px;
  color: #777;
  font-weight: normal; }
.foot-icon li .wz p:nth-of-type(1) {
  margin-bottom: 6px; }

.foot-mess {
  margin-top: 30px;
  border-bottom: 1px #e5e5e5 solid; }
.foot-mess ul::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
.foot-mess li {
  width: 20%;
  float: left; }
.foot-mess li .items-m {
  margin-left: 102px; }
.foot-mess li .items-m a:nth-of-type(1) {
  font-size: 18px;
  color: #333;
  font-weight: normal;
  padding-bottom: 10px;
  line-height: 20px; }
.foot-mess li .items-m a {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: normal;
  padding-bottom: 6px;
  line-height: 16px; }

.code-list {
  margin: 39px 0; }
.code-list::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
.code-list li {
  height: 120px;
  width: 400px;
  float: left; }
.code-list li img {
  float: left;
  height: 120px;
  width: 120px; }
.code-list li .codexx {
  margin-left: 10px;
  float: left; }
.code-list li .codexx h2 {
  font-size: 24px;
  color: #333;
  font-weight: normal;
  padding-bottom: 5px; }
.code-list li .codexx p {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  line-height: 25px; }

#footer {
  background: #f5f5f5; }

.data-code {
  padding-top: 20px; }
.data-code ul::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden; }
.data-code ul a {
  color: #777; }
.data-code ul li {
  display: inline;
  float: left;
  margin-right: 55px; }
.data-code ul li img {
  float: left; }
.data-code ul li a {
  display: block;
  margin-bottom: 10px; }
.data-code ul li a:hover {
  color: #ee394b; }
.data-code ul li:nth-of-type(5) {
  margin: 0; }

.footnav {
  padding: 5px 0 10px;
  text-align: center; }
.footnav a {
  color: #333; }
.footnav i {
  margin: 0 5px;
  color: #333; }

.wlaq {
  padding: 5px 0;
  color: #666; }
.wlaq img {
  float: left; }
.wlaq span {
  margin-left: 30px; }
.wlaq span:first-child {
  margin: 0; }

.copyxx {
  padding: 5px 0 5px 0;
  text-align: center;
  color: #777; }
.copyxx a {
  color: #777; }

.right-lan {
  position: fixed;
  left: 1369.5px;
  bottom: 10px;
  height: 82px; }
.right-lan div {
  width: 36px;
  height: 36px;
  background-image: url(//www.iqiyipic.com/common/fix/h5_qiyiShop_img/baseRedScrollBar.png);
  cursor: pointer; }
.right-lan .righht-fankui {
  background-position: -50px -82px;
  margin-bottom: 10px; }
.right-lan .right-gotop {
  background-position: -50px -46px; }

/*# sourceMappingURL=index.css.map */
